<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{globalLayout}">
<head>
	<script>
		$(document).ready(function(){
					
					$.ajaxSetup({
					    beforeSend: function(xhr) {
					        xhr.setRequestHeader("Authorization", "Bearer " + getCookie("jwt-token"));
					    }
					});
			
			        var actionUrl = "/home/basketContent";
			        
			        $.ajax({
			            type: "GET",
			            url: actionUrl,
			            success:function(data){
			            	document.getElementById("mainContent").innerHTML = data;
			            }
			        });
			       
			        
				});
		function decreQuantity(productId){
        	$.ajax({
	            type: "PUT",
	            url: "/product/api/decrement",
	            dataType: 'json',
	            contentType: "application/json",
	            data: "{\"productId\": \"" + productId + "\"}",
	            success:function(data){
	            	if(data.code == 200){
	            		document.getElementById(productId).innerHTML = parseInt(document.getElementById(productId).innerHTML) - 1;
	            	}
	            }
	        });
        }
		
		function increQuantity(productId){
        	$.ajax({
	            type: "PUT",
	            url: "/product/api/increment",
	            dataType: 'json',
	            contentType: "application/json",
	            data: "{\"productId\": \"" + productId + "\"}",
	            success:function(data){
	            	if(data.code == 200){
	            		document.getElementById(productId).innerHTML = parseInt(document.getElementById(productId).innerHTML) + 1;
	            	}
	            }
	        });
        }
				
	</script>	        
</head>
<body>
	<div layout:fragment="content">
		<div>
			购物车
		</div>
		<div id="mainContent">test</div>
	</div>
</body>